@font-face {
  font-family: 'Space Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./SpaceGrotesk-Bold.ttf') format('truetype');
  font-display: swap;

}

@font-face {
  font-family: 'Space Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./SpaceGrotesk-Medium.ttf') format('truetype');
  font-display: swap;
}