.footer {
margin-top: 0;
  width: 100%;
  padding: 2.4375rem 0;
  background-color: var(--grayish-black);
}

.flex-row{
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.txt-center {
  text-align: center;
}

.common-width {
  max-width: 21.4375em;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:48em) {
  .common-width{
    max-width: 44.28em;
  }
}
@media (min-width:69.375em) {
  .common-width {
    max-width: 69.375em;
  }
}
